@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-pattern {
    background-image: url("../../assets/images/bg.jpg");
    /* background-image: url("../../../images/bg.jpg"); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.auth-container {
  position: relative;
  width: 850px;
  height: 550px;
  background: #fff;
  margin: 20px auto;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.auth-container h1 {
  font-size: 36px;
  margin: -10px 0;
}

.auth-container p {
  font-size: 14.5px;
  margin: 15px 0;
}

form {
  width: 100%;
}

.auth-form-box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

.auth-container.active .auth-form-box {
  right: 50%;
}

.auth-form-box.register {
  visibility: hidden;
}

.auth-container.active .auth-form-box.register {
  visibility: visible;
}

.auth-input-box {
  position: relative;
  margin: 30px 0;
}

.auth-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .auth-half {
    width: 48%;
  }
  

.auth-input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.auth-input-box input::placeholder {
  color: #888;
}

.auth-input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.auth-forgot-link {
  margin: -15px 0 15px;
}

.auth-forgot-link a {
  font-size: 14.5px;
  color: #333;
}

.auth-btn {
  width: 100%;
  height: 48px;
  background: #FAA624;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  transition: background 0.3s;
}

.auth-btn:hover {
  background: #E8961E;
}

.auth-toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.auth-toggle-box::before {
  content: '';
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: #FAA624;
  border-radius: 150px;
  z-index: 2;
  transition: 1.8s ease-in-out;
}

.auth-container.active .auth-toggle-box::before {
  left: 50%;
}

.auth-toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.6s ease-in-out;
}

.auth-toggle-panel.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}

.auth-container.active .auth-toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.6s;
}

.auth-toggle-panel.toggle-right {
  right: -50%;
  transition-delay: 0.6s;
}

.auth-container.active .auth-toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}

.auth-toggle-panel p {
  margin-bottom: 20px;
}

.auth-toggle-panel .auth-btn {
  width: 160px;
  height: 46px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}

@media screen and (max-width: 650px) {
  .auth-container {
    height: calc(100vh - 40px);
  }

  .auth-form-box {
    bottom: 0;
    width: 100%;
    height: 70%;
  }

  .auth-container.active .auth-form-box {
    right: 0;
    bottom: 30%;
  }

  .auth-toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 20vw;
  }

  .auth-container.active .auth-toggle-box::before {
    left: 0;
    top: 70%;
  }

  .auth-container.active .auth-toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .auth-toggle-panel {
    width: 100%;
    height: 30%;
  }

  .auth-toggle-panel.toggle-left {
    top: 0;
  }

  .auth-toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }

  .auth-container.active .auth-toggle-panel.toggle-right {
    bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .auth-form-box {
    padding: 20px;
  }

  .auth-toggle-panel h1 {
    font-size: 30px;
  }
}
