/*  Theme Responsive Css */

@media only screen and (max-width: 5000px){}

@media only screen and (max-width: 1799px){}

@media only screen and (max-width: 1699px){}

@media only screen and (max-width: 1399px){}

@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 991px){
 

}

@media only screen and (min-width: 768px){
    .top-navbar-links{
        padding: 10px;
    }
    .m-mt-2{margin-top: 20px;}
.m-pl{
    padding-left: 25% !important;
}
}

@media only screen and (max-width: 767px){
    .m-text-center{
        text-align: center !important;
    }
    .m-w-100{
        width: 100% !important;
    }
    .top-navbar-links{
        display: none;
    }
    .m-mt-2{margin-top: 20px;}
    .m-pl{
        padding-left: 25% !important;
    }
}

@media only screen and (max-width: 599px){
    .m-text-center{
        text-align: center !important;
    }
    .m-w-100{
        width: 100% !important;
    }
    .top-navbar-links{
        display: none;
    }
    .m-mt-2{margin-top: 20px;}
    .m-pl{
        padding-left: 25% !important;
    }
}

@media only screen and (max-width: 499px){
    .m-text-center{
        text-align: center !important;
    }
    .m-w-100{
        width: 100% !important;
    }
    .top-navbar-links{
        display: none;
    }
    .m-mt-2{margin-top: 20px;}
.m-pl{
    padding-left: 25% !important;
}
}

@media only screen and (max-width: 399px){
.m-text-center{
    text-align: center !important;
}
.m-w-100{
    width: 100% !important;
}
.top-navbar-links{
    display: none;
}
.m-mt-2{margin-top: 20px;}
.m-pl{
    padding-left: 25% !important;
}
}
.h-35{
    height: 35px;
}
.relative{
    position: relative;
}
.ab-right{
    position: absolute;
    right: 0;
}
.btn-primary{
    background-color: #FAA624 !important;
    &:hover{
        background-color: #ffa318 !important;
        border: 1px solid grey;
    }
}
