/*  Theme Responsive Css */

@media only screen and (max-width: 5000px){}

@media only screen and (max-width: 1799px){}

@media only screen and (max-width: 1699px){}

@media only screen and (max-width: 1399px){}

@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 991px){
 

}

@media only screen and (min-width: 768px){

}

@media only screen and (max-width: 767px){
    .m-text-center{
        text-align: center !important;
    }
    .m-w-100{
        width: 100% !important;
    }
}

@media only screen and (max-width: 599px){
    .m-text-center{
        text-align: center !important;
    }
    .m-w-100{
        width: 100% !important;
    }
}

@media only screen and (max-width: 499px){
    .m-text-center{
        text-align: center !important;
    }
    .m-w-100{
        width: 100% !important;
    }
}

@media only screen and (max-width: 399px){
.m-text-center{
    text-align: center !important;
}
.m-w-100{
    width: 100% !important;
}

}