// 
// Page-title
// 

.page-title-box {
    padding-bottom: 20px;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
    }
}
