html , body {
  width : 100vw;
  height: 100vh;
  margin : 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  padding: 0 20px;
}
nav button{
  border-radius: 10px ;
  border: none;
}